<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ _('Section B - Freight Elements') }}</h3>
        </div>
    </div>
                <div class="table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>{{ _('Item') }}</th>
                                <th>{{ _('Buying') }}</th>
                                <th>{{ _('Selling') }}</th>
                                <th>{{ _('Margin') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr class="form-group">
                                <td>1</td>
                                <td>Air Freight Cost</td>
                                <td><input type="number" name="freight_bp" class="form-control" required /></td>
                                <td><input type="number" name="freight_sp" class="form-control" required /></td>
                                <td>0.00</td>
                            </tr>

                            <tr class="form-group">
                                <td>2</td>
                                <td>Other Charges</td>
                                <td><input type="number" name="other_freight_bp" class="form-control" required /></td>
                                <td><input type="number" name="other_freight_sp" class="form-control" required /></td>
                                <td>0.00</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
    </div>
